body {
	font-family: Consolas, monaco, monospace;
	margin: 50px;
	margin-top: 30px;
}

select, button {
	font-size: 15px;
	font-family: Consolas, monaco, monospace;
}

p {
	margin-bottom: 0px;
}

h2 {
	margin-bottom: 15px;
}

div p {
	width: 590px;
	padding: 12px 20px;
	margin: 0px;
}

#optional_output p {
	width: 980px;
}

#required_output p {
	width: 590px;
}

.red {
	color: red;
}

.green {
	color: green;
}

#special_br {
	height: 5px;
}

#button_div {
	width: 630px;
	display: flex;
	justify-content: flex-end;
}

#optional_output {
	display: none;
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;
}

#required_output {
	line-height: 0.8;
	padding-top: 20px;
}

#copy_textbox {
	display: none;
}

#space_div {
	height: 280px;
}